$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Changa+One|Nobile:400,400italic,700,700italic|Righteous|Comfortaa:400,300,700|Bevan);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);


//Color codes
$bgDefault      : #e74c3c;
$bgHighlight    : #c0392b;
$colDefault     : #ffffff;
$colHover       : #eeeeee;
$colSelected    : #dddddd;

html,body {
    height: 100%;
    margin: 0;
    padding-top: 0;
    background-color: #f4f6f7;
}

.navbar {
    margin-bottom: 0px;
    border: 0;
}
.fullheight {
    position: relative;
    height: 100%;
}
//From JS Fiddle
.navbar-default {
    background-color: $bgDefault;
    .navbar-brand {
        font-family:Righteous;
        font-size: 40px;
        margin: 20px;
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}

.clear {
    clear:both;
    line-height:0;
}

button.add-note {
    font-size:15px;
    font-color:grey;
    margin-top:10px;
    margin-left:10px;
}

button.trash-note {
    font-size:15px;
    margin-top:10px;
    margin-left:10px;
    float: right;
}

.navbar-default {
    background-color:#335CD6
}

span.buttons {
    font-size:50px;
    color: rgb(255,255,255);
}

span.glyphicon-list {
    font-size:19px;
}

.glyphicon-bookmark {
    font-size:19px;
}

.glyphicon-chevron-down{
    font-size:10px;
    text-decoration: none;
}

.glyphicon-chevron-right{
    font-size:10px;
    text-decoration: none;
}

div.cog {
    border: 2px solid;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

div.logout {
    border: 2px solid;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

li.inEditMode {
    font-weight: bold;
}

//hallo.inEditMode:hover + 

.left-pane{
    min-height: 100%;
    background-color: #fff;
    //border: 3px solid;
    //border-color: rgb(180,180,180);
    //border-radius: 5px;
}

div.right-title {
    font-size: 25px;
    color:#335CD6;
    padding: 10px;
    padding-top: 20px;
}

div.left-title {
    font-size: 25px;
    color:#335CD6;
    padding: 10px;
    padding-top: 20px;
}

.note {
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: white;  
    //border: 3px solid;
    //border-color: rgb(180,180,180);
    //border-radius: 5px; 
}

li{ 
    //color: rgb(100,100,100);
    font-family: "Open Sans";
    font-size: 18px;
    margin-top: 5pt;
    margin-bottom: 5pt;
}


.toggle-arrow {
    float: left;
}
.toggle-arrow a, .toggle-arrow a:hover, .toggle-arrow a:focus { 
    text-decoration: none;
}
.listitem-text {
    width: 80%;
    z-index: 100;
    padding: 0 0 0 10px;
    float: left;
}
// .list-buttons {

// }



/* Angular UI Tree Styling */
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    cursor:pointer !important;
    color: #7c9eb2;
    padding: 5px;
    width: 100%;
}

.angular-ui-tree-handle span.glyphicon-remove{
    visibility: hidden;
}

.angular-ui-tree-handle span.glyphicon-move{
    visibility: hidden;
}

.angular-ui-tree-handle span.glyphicon-plus{
    visibility: hidden;
}


.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-handle:hover span.glyphicon-remove{
    visibility: visible;
}

.angular-ui-tree-handle:hover span.glyphicon-plus{
    visibility: visible;
}

.angular-ui-tree-handle:hover span.glyphicon-move{
    visibility: visible;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


.col-md-6 {
    pading: 10px;
}



//Animation for Edit-Mode Enabled
.glyphicon-pencil{
    font-size: 30px;
//hallo:focus .glyphicon-pencil{
//    visibility: visible;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

*:focus {
    outline: none;
    color: #000;
}

// Facebook stlye loader
#facebookG { width:59px }

.facebook_blockG {
    background-color:#335CD6;
    border:1px solid #335CD6;
    float:left;
    height:42px;
    margin-left:3px;
    width:11px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

#blockG_1 {
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#blockG_2 {
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#blockG_3 {
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}

