<div class="jumbotron">
  <h1>ItemMirror!</h1>
  <p><a class="btn btn-lg" ng-class="loaded? 'btn-success': 'btn-warning'" ng-href="#">{{status}} <span ng-if="loaded" class="glyphicon glyphicon-ok"></span></a></p> 
  <p><a class="btn btn-lg btn-info" ng-href="showChildren()">Show Child Folders</a></p>
</div>
<div class="container">
  <ul ng-repeat="item in associations">
      <li>{{item}}</li>
      <li style="list-style-type:none">
        <ul>
          <li>Subitem</li>
          <li style="list-style-type:none">
            <ul>
              <li>Sub Sub</li>
            </ul>
          </li>
        </ul>
     </li>
  </ul>
</div>
